[Desktop Entry]
Name=Pilot
Comment=Configure Chromecast Bluetooth remote PC control and voice dictation
Exec=pilot
Icon=io.github.magnotec.Pilot
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;GTK;GNOME;Utility;
Keywords=pilot;chromecast;remote;bluetooth;controller;mouse;voice;whisper;dictation;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
